.register {
    display: flex;
    height: 100vh;
}


.register__right{
    flex: .6;
    background-color: #008d57;
    width: 100%;
    height: 100%;
}


.register__left {
    /* height: 100%; */
    flex: .4;
    width: 100%;
    padding: 48px;
    /* margin: 24px; */

}

.register__title {
    margin-bottom: 72px ;
}

.register__left .register__title > span {
    display: block;
}

.register__input{
    /* width: 100%; */
    display: flex;

    justify-content: space-between;
    flex-direction: row-reverse;
    /* padding-bottom: 16px; */
    position: relative;
    align-items: center;

    border: 2px solid #008d57;
    border-radius: 10px;
    margin-bottom: 32px;
}

.register__input > input {
    padding: 24px;
    background-color: transparent !important;
    border: none;
    outline-width: 0;
    flex: 1;
}

.icon {
    margin-left: 16px;
    color: #008d57;
}

.register__input > .MuiSvgIcon {
    padding-left: 24px ;
} 



.register__links {

    display: flex;
    justify-content: space-between;
}
.register__links__left {
    /* dip */
}
/* .register__links__left > .register__register {
    color: #008d57;
    font-weight: bold;
    display: inline-block;
    margin-right: 16px;
} */


.register__forgetpassword {
    display: inline-block;
}

.signin {
    padding: 1rem 1.5rem;
    border: none;
    background-color: #008d57;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 2px 5px #808080;
}

a {
    text-decoration: none;
    color: #008d57;
    font-weight: bold;
    display: inline-block;
    margin-right: 16px;
    font-size: 12px;
}

.register__register > span{
    color: #808080;
    /* font-size: 12px; */
}