.sidenav {
    position: static;
    flex: .35;
    /* background-color: red; */
    height: 100%;
    /* nax-width: 30%; */
    background-color: white;
    color: #4f4f4f;
    font-size: .95rem;
}


.sidenav__links {
    display: flex;
    flex-direction: column;
    padding: 32px 18px;
    list-style-type: none;
    height: 100%;
}

.sidenav__links > a {
    text-decoration: none ;
    font-size: .95rem;
    color: #4f4f4f;
}

.link__item {
    display: flex;
    padding: 12px;
    align-items: center;
    transition: .4s ease-in;
    font-weight: 600;
}

.link__item:hover{
    color: #008d57;
}

.link__item  > span {
    margin-right: 16px;
}

.exit__link {

    margin-top: 32px;
}

