.fuelrequest {
    margin: 32px;
    
}

.fuelrequest__title {
    color: #008d57;
    font-weight: bold;
    margin-bottom: 12px;
}


.fuel__request__form{
    display: flex;
    flex-direction: column;

}

.fuel__request__form > input {
    padding: 16px;
    margin: 8px 0;
    border-radius: 5px;

    border: 2px solid #008d57;
}

.fuel__request__form > textarea{
    border: 2px solid #008d57;
    padding: 16px;
    border-radius: 5px;
}

.fuel__request__form > select {
    padding: 8px;
    border: 2px solid #008d57;
    border-radius: 5px;
}


.fuel__request__form > button {
    background-color: #008d57;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.2rem;
}

.fuel__request__form > button:hover{
    background-color: #044e32;
    color: white;
} 
